# Environment
venv/
.env
*.env.local

# Python
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.egg-info/

# Data
data/raw/*.csv
data/processed/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Streamlit
.streamlit/secrets.toml